@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    12.5% {
        background-position: 100% 50%;
    }
    25% {
        background-position: 0% 50%;
    }
    37.5% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    62.5% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    87.5% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
